include LICENSE
include README.md
include vinorm/input.txt
include vinorm/output.txt
include vinorm/main
recursive-include vinorm/Dict *
recursive-include vinorm/lib *
recursive-include vinorm/Mapping *
recursive-include vinorm/RegexRule *